*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 100%;
    scroll-behavior: smooth;
}

.index{
    background-color: hsl(230, 25%, 95%);
}

.header--item{
    display: flex;
    justify-content: space-between;
    background-color:hsl(0, 0%, 100%) ;
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom:.4rem;
    box-shadow: -2px 4px 17px 6px rgba(0,0,0,0.20);
}

.header--item__url{
    display: flex;
    justify-content: space-between;
    background-color:hsl(0, 0%, 100%) ;
    width: 100%;
    padding-top: 1.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom:.4rem;
    box-shadow: -2px 4px 17px 6px rgba(0,0,0,0.20);
}

.navbaritem{
    display: flex;
    
}
.btn {
     display: flex;
     margin-top: -.3rem;
   
}

.sign{
    border: none;
    background-color:hsl(184, 60%, 76%);
    padding:.5rem;
    color:white;
    border-radius: .7rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
}
.sign:hover{
    color: hsl(184, 60%, 76%);
   background-color: white;
}

    
   .login{
    background-color:white;
    padding:.7rem;
    color:hsl(184, 60%, 76%);
    border-radius: .7rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
}
.login:hover{
    background-color:hsl(184, 60%, 76%);;
    color: white;
}


ul {
    display: flex;
    list-style: none;
     gap:1rem;  
     margin-right: 23rem;
}
li a{
    color:hsl(184, 60%, 76%);
    font-weight: 700;
  
}
a{
    text-decoration: none;
}

.Signinbox {
    margin:70px auto;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 2.5rem;
    width:40%;
    
}
h1{
    text-align: center;
}

.btn--sign  {
    background-color: hsl(184, 60%, 76%);;
    color: white;
    border: none;
    padding:.5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    /* margin-left:10rem; */
    cursor: pointer;
}

label{
    font-size: 1em;
    font-weight: 800;
    margin-top: .6rem;
    text-align: left;
    
}

input{
    width:100%;
    padding: .3rem;
    border: none;
    border-bottom: 2px solid black;
}
.create{
    background-color:hsl(184, 60%, 76%);
}
p{
    text-align: center;
}

  p a{
    text-decoration: none;
    color:hsl(184, 60%, 76%);
    font-weight: 600;
    font-size: 1em;
    margin-left: .4rem;
}
p a:hover{
    color:  hsl(184, 60%, 76%);
}
.enter{
    background-color: hsl(184, 60%, 76%);
}

.btn--enter {
    background-color: hsl(184, 60%, 76%);
    color: white;
    border: none;
    padding:.7rem;
    margin-top: 1rem;
    border-radius: .3rem;
    cursor: pointer;
}

.Signinbox--enter {
    margin:100px auto;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 3rem;
    width:40%;
    /* line-height: 2; */
    
}
/* Section  */

section{
    display: flex;
    margin-top: .4rem;
    font-size: 1em;   
}

.section--text{
    padding:2rem;
    margin-top:7rem;
    line-height: 1.5;
   
    
}
.section--text h1{
    padding-left: 7rem;
    padding-right:7rem;
    text-align: left;
    color:hsl(257, 13%, 22%);
}
.section--text p{
    padding-left: 7rem;
    padding-right: 6rem;
    text-align: left; 
    color:hsl(240, 1%, 63%);
}
.section--text button{
    background-color: hsl(184, 60%, 76%);
    border: none;
    color:white;
    padding:.7rem;
    border-radius: 2rem;
    margin-left: 7rem;
    cursor: pointer;
}

.logout{
    background-color: hsl(184, 60%, 76%);
    border: none;
    color:white;
    padding:.7rem;
    border-radius: 2rem;
    margin-left: 7rem;
    cursor: pointer;
}


.attribution{
    color:hsl(257, 13%, 22%);
}


/* Menu Icon  */
.navbaritem--mobile{
    display: none;
}


/* About Page */
.section--about{
    margin-top: 2rem;
    scroll-behavior: smooth;
}
/* About Section */
.about--section{
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    margin: 3rem;
    gap:2rem;
}
.section--one , .section--two , .section--three , .section--four , .section--five{
    background: white;
    padding:2rem;
    /* color:hsl(184, 60%, 76%); */
    color: black;
    box-shadow: -2px 4px 10px 6px rgba(0,0,0,0.10);
}

.section--one  p, .section--two  p, .section--three p , .section--four  p, .section--five p{
    color: blueviolet;
    padding-left:2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

@media (max-width:1200px){
  
    ul {
       
         margin-right: 15rem;
    }
.Signinbox   , 
.Signinbox--enter{
    margin: 150px auto;
    width:30rem;
    padding: 3rem;
    
}

label{
    margin-top: 1rem;
}
input{
    border: none;
    border-bottom:2px solid black;
}
input::after{
    border:none
}
 .section svg{
    width:70%;
 }
.section--text h1{
    padding-left: 5rem;
    padding-right:5rem;
    text-align: left;
    
}
.section--text p{
    padding-left: 5rem;
    padding-right: 4rem;
  
}
.section--text button{
    margin-left: 5rem;
    cursor: pointer;
}
}


@media (max-width:992px){
  .navbaritem{
    display: none;
  }
  .navbaritem--mobile{
    display: block;
  }
  /* .icon{
      float: right;
  } */

  .itemslist{
     display: none;
     position:absolute;
     background-color:white;
     margin-left: -16rem;
     margin-top: 2rem;
     height: 40%;
     line-height: 3;
    }
  .item--mobile{
     display: block;
     margin:20px 90px;

    
  }
  .btn--mobile{
    margin:10px 100px;
  }
 .login{
    display: block;
    margin-bottom: .4rem;
 }


.section--text h1{
    padding-left: 5rem;
    padding-right:5rem;
    text-align: left;
    
}
.section--text p{
    padding-left: 5rem;
    padding-right: 1rem;
  
}
.section--text button{
    margin-left: 5rem;
    cursor: pointer;
}
   
    .Signinbox ,
    .Signinbox--enter {
        margin:150px auto;        
    }

    /* About Page */
    .about--section{
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2 , 2fr);
        margin: 3rem;
        gap:2rem;
    }
    .section--one , .section--two , .section--three , .section--four , .section--five{
        background: white;
        padding:2rem;
        height: 50%;
        color: black;
        box-shadow: -2px 4px 10px 6px rgba(0,0,0,0.10);
    }
    
    .section--one  p, .section--two  p, .section--three p , .section--four  p, .section--five p{
        color: blueviolet;
        padding-left:2rem;
        padding-right: 2rem;
        margin-top: 1rem;
    }


    .header--item__url{
        width: 76rem;
    }
    

}

@media (max-width:768px){
    .section--text h1{
    padding-left: 3rem;
    padding-right:1rem;
    text-align: left;

    
}
.section--text p{
    padding-left: 3rem;
    padding-right:2rem;

  
}
.section--text button{
    margin-left: 3rem;
    cursor: pointer;
}
    .Signinbox , 
    .Signinbox--enter{
        margin:150px auto;     
    }
    .itemslist{
    
        height: 50%;
    
       }
}

@media (max-width:600px){
    .header--item{
        display: flex;
        background-color:hsl(0, 0%, 100%) ;
        width: 100%;
        
    }
    .logo{
        margin-left: -3rem;
    }
   .icon{
    margin-right: -14rem;
   }
   
    
section{
    display: flex;
    flex-direction: column-reverse;
    padding: 2.2rem;
  
}

.sign{
    padding:.7rem;
    border-radius: .7rem;
    cursor: pointer;
}

   
   .login{
    padding:1rem;
    border-radius: .7rem;
    cursor: pointer;
    word-wrap: nowrap;

}
 .section--svg svg{
   display: block;
   width: 90%;
}

.section--text{
    text-align: center;
}
.section--text h1{
    text-align: center;
}
.section--text p {
    text-align: center;
}
.itemslist{
    display: none;
    position:absolute;
    background-color:white;
    margin-left: -12rem;
   
   }

    .Signinbox , 
    .Signinbox--enter {
        margin:150px auto; 
        width:80%;     
    }

    .about--section{
        display: flex;
        flex-direction: column;
    
        margin: 2rem;
     
    }
    .section--one , .section--two , .section--three , .section--four , .section--five{
        background: white;
        padding:2rem;
        height:10%;
        color: black;
        margin-top: 2rem;
        box-shadow: -2px 4px 10px 6px rgba(0,0,0,0.10);
    }
    
    .section--one  p, .section--two  p, .section--three p , .section--four  p, .section--five p{
        color:hsl(184, 60%, 76%);
        padding-left:2rem;
        padding-right: 2rem;
        margin-top: 1rem;
    }
    .logout{
       margin-right: -4rem;
        cursor: pointer;
    }
    .header--item__url{
       width:71rem;
    }
    
}

@media (max-width:440px){
    .section--text{
    text-align: center;
    font-size: 13px;


}
.header--item__url{
   width:69rem;
}
.logout{
    margin-right:-4rem ;
}

.section--text h1{
    text-align: center;
}
.section--text p {
    text-align: center;
}
     svg{
    width: 100%;
    margin-left: 1rem;
}
    .Signinbox , 
    .Signinbox--enter {
     margin:150px auto;
         padding: 3rem;   
         width:80%;   
    }
}

